In [2]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [3]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.2.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/sidd4ml/.pyenv/versions/3.11.5/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/sidd4ml/.pyenv/versions/3.11.5/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 4.0 MB/s eta 0:00:0000:0100:01
Downloading numpy-2.2.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 3.7 MB/s eta 0:00:0000:0100:01
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
  Attempting uninstall: numpy
    Found existing installation: numpy 1.23.1
    Uninstalling numpy-1.23.1:
      Successfully uninstalled numpy-1.23.1
Successfully installed numpy-2.2.2 pandas-2.2.3 pytz-2024.2 tzdata-2025.1

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: pip install --upgrade pip

In [4]:
import pandas as pd

In [5]:
pd.__version__

'2.2.3'

In [6]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz

--2025-01-27 03:18:21--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 20.207.73.82
Connecting to github.com (github.com)|20.207.73.82|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250126%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250126T214823Z&X-Amz-Expires=300&X-Amz-Signature=88c5eee054e780c73dd080c31953c688e08ddf897b6989b1c646053446f11597&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-01-27 03:18:23--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250126%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250126T214823Z&X-Amz-Expires=300&X-Amz-Signature=88c5eee054e780c73dd080c31953c688e08ddf897b6989b1c646053446f11597&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8262584 (7.9M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-10.csv.gz’

green_tripdata_2019 100%[===================>]   7.88M  3.97MB/s    in 2.0s

2025-01-27 03:18:26 (3.97 MB/s) - ‘green_tripdata_2019-10.csv.gz’ saved [8262584/8262584]

In [7]:
ls -lh

total 8.0M
-rw-r--r--  1 sidd4ml sidd4ml    0 Jan 27 01:03 Dockerfile
-rw-r--r--  1 sidd4ml sidd4ml  637 Jan 26 23:42 docker-compose.yaml
-rw-r--r--  1 sidd4ml sidd4ml 7.9M Jul 14  2022 green_tripdata_2019-10.csv.gz
-rw-r--r--  1 sidd4ml sidd4ml 2.4K Jan 27 00:47 ingest_data.py
drwx------ 19     999 sidd4ml 4.0K Jan 27 02:23 postgress_data/
-rw-r--r--  1 sidd4ml sidd4ml 4.9K Jan 27 03:17 upload-data.ipynb

In [8]:
!gunzip green_tripdata_2019-10.csv.gz

In [9]:
ls -lh

total 42M
-rw-r--r--  1 sidd4ml sidd4ml    0 Jan 27 01:03 Dockerfile
-rw-r--r--  1 sidd4ml sidd4ml  637 Jan 26 23:42 docker-compose.yaml
-rw-r--r--  1 sidd4ml sidd4ml  42M Jul 14  2022 green_tripdata_2019-10.csv
-rw-r--r--  1 sidd4ml sidd4ml 2.4K Jan 27 00:47 ingest_data.py
drwx------ 19     999 sidd4ml 4.0K Jan 27 02:23 postgress_data/
-rw-r--r--  1 sidd4ml sidd4ml 8.1K Jan 27 03:19 upload-data.ipynb

In [10]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2025-01-27 03:39:42--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 20.207.73.82
Connecting to github.com (github.com)|20.207.73.82|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250126%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250126T220943Z&X-Amz-Expires=300&X-Amz-Signature=244bb2afe89845eb5b0db845d635365ec6489260078fd05d0476a406b769c7b2&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2025-01-27 03:39:42--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250126%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250126T220943Z&X-Amz-Expires=300&X-Amz-Signature=244bb2afe89845eb5b0db845d635365ec6489260078fd05d0476a406b769c7b2&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2025-01-27 03:39:44 (24.2 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [11]:
ls -lh

total 42M
-rw-r--r--  1 sidd4ml sidd4ml    0 Jan 27 01:03 Dockerfile
-rw-r--r--  1 sidd4ml sidd4ml  637 Jan 26 23:42 docker-compose.yaml
-rw-r--r--  1 sidd4ml sidd4ml  42M Jul 14  2022 green_tripdata_2019-10.csv
-rw-r--r--  1 sidd4ml sidd4ml 2.4K Jan 27 00:47 ingest_data.py
drwx------ 19     999 sidd4ml 4.0K Jan 27 02:23 postgress_data/
-rw-r--r--  1 sidd4ml sidd4ml  13K Jul 19  2022 taxi_zone_lookup.csv
-rw-r--r--  1 sidd4ml sidd4ml 9.1K Jan 27 03:21 upload-data.ipynb

In [20]:
df = pd.read_csv('green_tripdata_2019-10.csv', nrows=1000)

In [21]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.0

In [25]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)

In [26]:
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [27]:
print(pd.io.sql.get_schema(df, name = 'green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [28]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /home/sidd4ml/.pyenv/versions/3.11.5/lib/python3.11/site-packages (2.0.37)
Requirement already satisfied: greenlet!=0.4.17 in /home/sidd4ml/.pyenv/versions/3.11.5/lib/python3.11/site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/sidd4ml/.pyenv/versions/3.11.5/lib/python3.11/site-packages (from sqlalchemy) (4.12.2)

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: pip install --upgrade pip

In [29]:
from sqlalchemy import create_engine

In [30]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

ModuleNotFoundError: No module named 'psycopg2'

In [31]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Using cached psycopg2_binary-2.9.10-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.9 kB)
Using cached psycopg2_binary-2.9.10-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: pip install --upgrade pip

In [32]:
!pip show psycopg2-binary

Name: psycopg2-binary
Version: 2.9.10
Summary: psycopg2 - Python-PostgreSQL Database Adapter
Home-page: https://psycopg.org/
Author: Federico Di Gregorio
Author-email: fog@initd.org
License: LGPL with exceptions
Location: /home/sidd4ml/.pyenv/versions/3.11.5/lib/python3.11/site-packages
Requires:
Required-by:

In [33]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [34]:
engine.connect()

In [91]:
#df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=238192)

In [98]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True)

In [99]:
df = next(df_iter)

/tmp/ipykernel_42170/4178490087.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

In [100]:
len(df)

476386

In [101]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [102]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [96]:
from time import time

In [103]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 38.3 s, sys: 775 ms, total: 39 s
Wall time: 55.3 s

386

In [71]:
# Count rows in the CSV file
total_rows = sum(1 for _ in open('green_tripdata_2019-10.csv')) - 1  # Exclude header row
print(f"Total rows in CSV: {total_rows}")

Total rows in CSV: 476386

In [72]:
total_rows_df = pd.read_csv('green_tripdata_2019-10.csv')

/tmp/ipykernel_42170/4148925070.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  total_rows_df = pd.read_csv('green_tripdata_2019-10.csv')

In [73]:
total_rows_df.shape

(476386, 20)

In [75]:
total_rows_df.isnull().sum()

VendorID                  89379
lpep_pickup_datetime          0
lpep_dropoff_datetime         0
store_and_fwd_flag        89379
RatecodeID                89379
PULocationID                  0
DOLocationID                  0
passenger_count           89379
trip_distance                 0
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
ehail_fee                476386
improvement_surcharge         0
total_amount                  0
payment_type              89379
trip_type                 89381
congestion_surcharge      89379
dtype: int64

In [76]:
total_rows_df.duplicated().sum()

np.int64(0)

In [104]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [105]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [106]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [157]:
query_all_d= """
SELECT
    distance_range,
    COUNT(*) AS trip_count
FROM (
    SELECT
        CASE
            WHEN trip_distance <= 1 THEN 'Up to 1 mile'
            WHEN trip_distance > 1 AND trip_distance <= 3 THEN 'Between 1 and 3 miles'
            WHEN trip_distance > 3 AND trip_distance <= 7 THEN 'Between 3 and 7 miles'
            WHEN trip_distance > 7 AND trip_distance <= 10 THEN 'Between 7 and 10 miles'
            WHEN trip_distance > 10 THEN 'Over 10 miles'
        END AS distance_range
    FROM
        green_taxi_data
    WHERE
        lpep_dropoff_datetime >= '2019-10-01' 
        AND lpep_dropoff_datetime < '2019-11-01'
) AS distance_ranges
GROUP BY
    distance_range
ORDER BY
    CASE
        WHEN distance_range = 'Up to 1 mile' THEN 1
        WHEN distance_range = 'Between 1 and 3 miles' THEN 2
        WHEN distance_range = 'Between 3 and 7 miles' THEN 3
        WHEN distance_range = 'Between 7 and 10 miles' THEN 4
        WHEN distance_range = 'Over 10 miles' THEN 5
    END;
"""

In [158]:
pd.read_sql(query_all_d, con=engine)

           distance_range  trip_count
0            Up to 1 mile      104802
1   Between 1 and 3 miles      198924
2   Between 3 and 7 miles      109603
3  Between 7 and 10 miles       27678
4           Over 10 miles       35189

104802, 198924, 109603, 27678, 35189

In [180]:
query_longest_trip = """
select  DATE(lpep_pickup_datetime) AS pickup_day,
    MAX(trip_distance) AS longest_trip from green_taxi_data GROUP BY pickup_day order by longest_trip desc LIMIT 1
"""

In [181]:
pd.read_sql(query_longest_trip, con=engine)

   pickup_day  longest_trip
0  2019-10-31        515.89

In [267]:
query_pickup_zones = """
select g."PULocationID" AS LocID, z."Zone" AS LocationName, SUM(g.total_amount) AS all_trips_total from green_taxi_data g 
INNER JOIN zones z ON  g."PULocationID" = z."LocationID"
WHERE DATE(g.lpep_pickup_datetime) = '2019-10-18'
GROUP BY LocID, LocationName HAVING SUM(g.total_amount) > 13000 
"""

In [268]:
pd.read_sql(query_pickup_zones, con=engine)

   locid         locationname  all_trips_total
0     74    East Harlem North         18686.68
1     75    East Harlem South         16797.26
2    166  Morningside Heights         13029.79

East Harlem North, East Harlem South, Morningside Heights

In [283]:
query_dropoff_zones = """
select "DOLocationID", MAX(tip_amount) AS largest_tip from green_taxi_data where "PULocationID" = 74
AND DATE("lpep_pickup_datetime") BETWEEN '2019-10-01' AND '2019-10-31' GROUP BY "DOLocationID" order by largest_tip DESC
"""

In [284]:
pd.read_sql(query_dropoff_zones, con=engine)

     DOLocationID  largest_tip
0             132        87.30
1             263        80.88
2              74        40.00
3               1        26.45
4             236        18.45
..            ...          ...
208            55         0.00
209            53         0.00
210            16         0.00
211            39         0.00
212            37         0.00

[213 rows x 2 columns]

In [301]:
q = """
Select * from Zones where "LocationID" = 132
"""

In [302]:
pd.read_sql(q, con=engine)

   index  LocationID Borough         Zone service_zone
0    131         132  Queens  JFK Airport     Airports

In [304]:
query_dropoff_locname = """
SELECT 
    z_drop."Zone" AS dropoff_zone,
    MAX(g."tip_amount") AS largest_tip
FROM 
    green_taxi_data g
INNER JOIN 
    zones z_pickup
ON 
    g."PULocationID" = z_pickup."LocationID"
INNER JOIN 
    zones z_drop
ON 
    g."DOLocationID" = z_drop."LocationID"
WHERE 
    z_pickup."Zone" = 'East Harlem North'  -- Filter for the pickup zone
    AND DATE(g."lpep_pickup_datetime") BETWEEN '2019-10-01' AND '2019-10-31'
GROUP BY 
    z_drop."Zone"
ORDER BY 
    largest_tip DESC
LIMIT 1;
"""

In [305]:
pd.read_sql(query_dropoff_locname, con=engine)

  dropoff_zone  largest_tip
0  JFK Airport         87.3